{% extends 'base.html' %}

{% block title %}{% if switch_to_discriminator %}Олегоданилезироваться{% else %}Edit password{% endif %}{% endblock %}

{% block content %}

  {% if switch_to_discriminator %}
  <h1>Уверены?</h1>
  <p>Это действие необратимо!</p>
  {% endif %}

  <form action='{% if switch_to_discriminator %}switch_to_discriminator{% else %}edit_password{% endif %}' method='POST'>
    {% if not switch_to_discriminator %}
    <label for="old">Old password</label>
    <input type='password' name='old' id='old' placeholder='password'/>
    {% endif %}
    <label for="password">{% if not switch_to_discriminator %}New {% endif %}password</label>
    <input type='password' name='password' id='password' placeholder='password'/>
    <input type='submit' name='submit'/>
</form>
{% endblock %}